node-backend/node_modules/
react-frontend/node_modules/
npm-debug.log*
package-lock.json
pnpm-lock.yaml

# Environmental variables
.env
.env.local
.env.production

# build output
dist/
build/

# IDE/ editor configs
.vscode
